<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Rozemart Admin')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>

		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}"
				class="fa-solid fa-user-plus fa-2x icon-dark mr-2"></a> <a
				th:href="@{/users/export/csv}"
				class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a> <a
				th:href="@{/users/export/excel}"
				class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a> <a
				th:href="@{/users/export/pdf}"
				class="fa-solid fa-file-pdf fa-2x icon-dark"></a>
		</div>

		<div th:replace="fragments :: search_form_and_message('/users/page/1')"></div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-success bg-success">

					<tr>
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('/users','id','User Id','tag')" >
                      </th>
						<th>Photos</th>
                   <th class="hideable-column">
						<th th:replace="fragments :: column_link('/users','email','Email','tag')" >
                       </th>
						<th
							th:replace="fragments :: column_link('/users','firstName','First Name','none')" />

						<th th:replace="fragments :: column_link('/users','lastName','Last Name','none')" />

						<th>Roles</th>

						<th th:replace="fragments :: column_link('/users','enabled','Enabled','none')" />

						<th></th>
					</tr>

				</thead>

				<tbody>
					<tr th:each="user : ${listUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td><span th:if="${user.photos == null}"
							class="fa-solid fa-image-portrait fa-3x icon-silver"></span> <img
							th:if="${user.photos !=null}" height="100" width="100"
							alt="photo view" th:src="@{${user.photosImagePath}}" /></td>
						<td class="hideable-column">[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>

						<td>
						<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" ></div>
						</td>

						<td>
						<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" ></div>
						&nbsp;&nbsp;
						<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
					
					    </td>
					</tr>

				</tbody>
			</table>
			
		</div>

		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row m-1">
				<div class="col-4">
					<span th:if="${user.photos == null}"
						class="fa-solid fa-image-portrait fa-3x icon-silver"></span> <img
						th:if="${user.photos !=null}" height="100" width="100"
						alt="photo view" th:src="@{${user.photosImagePath}}" />
				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-2">
						<div th:replace="fragments :: status(${user.enabled},'user','/users/' + ${user.id})"></div>
					&nbsp;
					<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" ></div>
					&nbsp; 			
					<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" ></div>
					&nbsp; 
					<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" ></div>
				</div>
					</div>
				<div>&nbsp;</div>
			</div>
		</div>

		<div th:replace="fragments :: pagination('/users', 'users')"></div>

		<div th:replace="modal_fragments :: confirm_modal"></div>

		<div th:replace="fragments :: footer"></div>
	</div>
	

	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".link-delete")
							.on(
									"click",
									function(e) {
										e.preventDefault();
										link = $(this);
										//alert($(this).attr("href"));
										userId = link.attr("userId");
										$("#yesButton").attr("href",
												link.attr("href"));
										$("#confirmText").text(
												"Are you sure you want to delete this user Id "
														+ userId + "?");										
										$("#confirmModal").modal();
										
									});
				});

		function clearFilter() {

			window.location = "[[@{/users}]]";
		}
	</script>
</body>
</html>